workflow-chatbot-telegram.json
{
  "name": "workflow-chatbot-telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1184,
        288
      ],
      "id": "1cf94b5a-8cea-43b6-8e79-8335a12bc361",
      "name": "Telegram Trigger",
      "webhookId": "6fa5059d-9d7a-4083-add9-5217db5bda98",
      "credentials": {
        "telegramApi": {
          "id": "FnJyztepEiifDPOb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Create Object Data').item.json.chat_id }}",
        "text": "=❌ A consulta ao serviço apresentou um erro inesperado, por favor, tente novamente mais tarde.\n\n*Ex. São Paulo,SP,BR*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        320
      ],
      "id": "6d47617f-7996-4dea-b6ec-24091da4ef23",
      "name": "Send a text Error API",
      "webhookId": "e13f89b0-a10d-41b1-bcce-4ed37a46f6fb",
      "credentials": {
        "telegramApi": {
          "id": "8vFuve4VD4LIbIHD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://api.openweathermap.org/geo/1.0/direct",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.city }},{{ $json.state }},br"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        192
      ],
      "id": "899e77c9-be5f-4474-95c1-6809cb2526c7",
      "name": "HTTP - GET LAT/LON with Geocoding in  in API OpenWeather",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "Q6Y0wsNuFMM6cYq0",
          "name": "Query Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        96
      ],
      "id": "d00b453e-0d10-478a-8009-a2a2b711dd6a",
      "name": "HTTP - GET Temperature in API OpenWeather",
      "credentials": {
        "httpQueryAuth": {
          "id": "Q6Y0wsNuFMM6cYq0",
          "name": "Query Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7e0d4d1-8ceb-4ac6-95ec-14448ffc65bd",
              "name": "city",
              "value": "={{ $json.message.text.includes(',') ? $json.message.text.trim().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").split(\",\")[0].trim() : \"\" }}",
              "type": "string"
            },
            {
              "id": "1a0867a7-1063-4854-bb9d-44eb79b29002",
              "name": "state",
              "value": "={{ $json.message.text.trim().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").split(\",\")[1].trim() }}",
              "type": "string"
            },
            {
              "id": "c925d9e3-6a96-46ff-aa3d-eebda2ea9ca2",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "57fd7b27-9006-40d3-8643-8638ba943bf0",
              "name": "city_chat_message",
              "value": "={{ $json.message.text.split(',')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        288
      ],
      "id": "17604c35-1f87-44bc-b228-dc25fb9c2d40",
      "name": "Create Object Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353c6408-d9c5-4ef7-8817-fb7c327d5185",
              "leftValue": "={{ $json.state && $json.city }}",
              "rightValue": "[null]",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        288
      ],
      "id": "03ff245d-325c-4bf4-83d1-8cfa153c0f5a",
      "name": "If Correct Data?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase().trim() === $('Create Object Data').item.json.city\n  ? `🌤️ A temperatura em ${$('Create Object Data').item.json.city_chat_message} / ${$('Create Object Data').item.json.state.toUpperCase()} é de ${ Math.round($json.main.temp)}°C.`\n  : `🌤️ A temperatura em ${$('Create Object Data').item.json.city_chat_message} na cidade de ${$json.name} / ${$('Create Object Data').item.json.state.toUpperCase()} é de ${ Math.round($json.main.temp)}°C.`\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7e939b77-4be9-4794-83b3-7ad23cfe728d",
      "name": "Send a text with Temperature",
      "webhookId": "24263eeb-20de-4dcc-9830-063d7107c373",
      "credentials": {
        "telegramApi": {
          "id": "8vFuve4VD4LIbIHD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=❌ A cidade *{{ $('Create Object Data').item.json.city_chat_message }}* não existe no estado de *{{ $('Create Object Data').item.json.state.toUpperCase() }}*.\n\nVerifique se você digitou corretamente.\n*Ex. São Paulo, SP*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ],
      "id": "dff2b5e4-bcfc-430f-ba72-34090400308d",
      "name": "Send a text Wrong State",
      "webhookId": "24263eeb-20de-4dcc-9830-063d7107c373",
      "credentials": {
        "telegramApi": {
          "id": "8vFuve4VD4LIbIHD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Create Object Data').item.json.chat_id }}",
        "text": "=❌ Encontramos um erro na sua busca.\n\nDigite novamente, seguindo o modelo Abaixo.\n*São Paulo, SP*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        400
      ],
      "id": "469f3e2d-f2f4-43e4-894e-1b9a924731c8",
      "name": "Send a text City and State Not Found",
      "webhookId": "e13f89b0-a10d-41b1-bcce-4ed37a46f6fb",
      "credentials": {
        "telegramApi": {
          "id": "8vFuve4VD4LIbIHD",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Create Object Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GET LAT/LON with Geocoding in  in API OpenWeather": {
      "main": [
        [
          {
            "node": "HTTP - GET Temperature in API OpenWeather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text Error API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GET Temperature in API OpenWeather": {
      "main": [
        [
          {
            "node": "Send a text with Temperature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text Wrong State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Object Data": {
      "main": [
        [
          {
            "node": "If Correct Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Correct Data?": {
      "main": [
        [
          {
            "node": "HTTP - GET LAT/LON with Geocoding in  in API OpenWeather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text City and State Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "417fdf73-0d19-4ef2-ada3-382c2f297bf4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c87df4463834a84275a5f46f765b499d559bf8e969702d0948b7d7bbc39e7dd1"
  },
  "nodeGroups": [],
  "id": "fGYae0f47BdDddrF",
  "tags": []
}